.bar{
    padding: 5px;
}

.nav-1 b{
    color: red;
}

.qtdClientes{
    margin-left: 340px;
}

.user-icon{
    margin-right: 15px;
}

.icon-hora{
    color: green;
}

.qtdClientes{
    margin-right: 35px;
}