.doug{
    height: 400px; 
    display: flex;
    justify-content: center;

}
.valores{
    padding: 15px;
    justify-content:space-around;
    display: flex;
    font-size: 15px;
}

.caio{
    background-color: rgb(0, 0, 0);
}

.pagos{
    font-size: large;
}