.background {
  border-top: 2px solid rgb(100, 29, 29);
  border-bottom: 2px solid rgb(100, 29, 29);
  background: linear-gradient(to right, #366894, #b44248);
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;

}

body {
  font-size: small;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.renovacao{
  margin-top: -15px;
}
.titulo-2 {
  background-color: white;
  width: 790px;
  margin-top: 15px;
  border: 5px solid black;
  font-family: Arial, Helvetica, sans-serif;
}



.texto-cima h1 {
  text-align: center;
  display: inline-block;
  font-size: large;
}

.escolha-select {
  margin-top: -4px;
  padding: 2px;
}

.frase {
  padding: 5px;
}

.salvar {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin-bottom: 5px;
}

.btn-acao {
  margin: 20px 20px 0px 20px;
  min-width: 100px;
}

.btn-cli {
  margin-left: 5px;
}

.contrato {
  background-color: white;
  margin: 0 auto;
}

.logo-street {
  justify-content: center;
  display: flex;
  padding: 10px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.logo-street img {
  height: 100px !important;
  border-radius: 100px;
}

/* .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  justify-content: center;
  display: flex;
} */

.cima,
.baixo {
  font-size: large;
  text-align: left;
}

.th {
  font-size: medium;
  background-color: #f2f2f2;
}

.caixa {
  font-size: small;
}

.linha1 {
  color: #ffffffff;
  height: 23px;
  background-color: rgb(87, 87, 207);
  font-size: 14px;
  padding-top: 5px;
  text-align: center;
}

.linha1 h3 {
  font-size: 14px;
}

.assinante {
  justify-content: center;
  display: flex;
  align-items: center;
}

.assinante h3 {
  font-size: 15px;
}

.escrever {
  width: 100%;
}

.escrever hr {
  color: black;
  height: 1px;
}

.linha2 {
  color: #ffffff;
  height: 24px;
  background-color: rgb(87, 87, 207);
  font-size: 14px;
  padding-top: 5px;
  text-align: center;
}

.linha2 h3 {
  font-size: 14px;
}

.siga-redes {
  margin-top: -25px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.siga-redes ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.siga-redes li {
  margin-right: 10px;
  /* ou qualquer valor que desejar */
}

.so {
  font-size: medium;
}

.caixa2 {
  font-size: small;
  border: 1px solid black;
}
.caixa2 input{
  margin-top: -8px;
}

.entorno {
  border: 1px solid black;
  margin-bottom: 5px;
}

.caixa2 input {
  width: 100%;
  box-sizing: border-box;
}






.atualizacao {
  padding-top: 7px;
  display: flex;
  justify-content: space-around;
}

.condicoes {
  border: 1px solid black;
  height: 19px;
}

.condicoes h3 {
  font-size: 13px !important;
  text-align: center;
}

.regras {
  color: #ffffff;
  background-color: rgb(87, 87, 207);
  height: 18px;
}

.regras h2 {
  font-size: 15px;
  text-align: center;
}

.texto {
  margin-top: 5px;
  border: 1px solid black;
  
}

.texto p {
  font-size: 14px !important;
}


.escrever2 {
  padding: 5px;
  justify-content: center;
}

.escrever2 hr {
  color: black;
  height: 1px;
}

.escrever2 h3 {
  text-align: center;
  font-size: 13px;
}

.linha3 {
  color: #ffffff;
  height: 20px;
  background-color: rgb(87, 87, 207);
  margin-top: 1px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.linha3 h3 {
  font-size: medium;
}

.linha-verde {
  color: #ffffff;
  height: 40px;   
  background-color: rgb(55, 189, 55);
  margin-top: 1px;
  width: 55%;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.linha-verde h3 {
  font-size: medium;
  margin-top: 10px;

}

.faixa-arrow{
  justify-content: space-around;
}

.flecha-amarela i{
  font-size: 80px;
  margin-top: -20px ;
  margin-bottom: -10px;
}

.linha-verde a {
  text-decoration: none;
  color: #ffffff;
}

.face{
  color: #366894;
}
.insta{
  color: rgb(196, 20, 93);
}
.cond {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  font-size: small;
}

.acessoria {
  justify-content: space-around;
  margin-top: -25px;

}

.youtube{
  color: red;
}
.whats{
  color: green;
}


.direitos {
  padding: 4px;
  text-align: center;
  font-size: small;
}

.direitos1 {
  margin-top: -30px;
  margin-bottom: -10px;
  text-align: center;
  font-size: small;
}
.inf h3 {
  font-size: small;
  text-align: center;
}

.pre{
  margin-top: 8px;
}