
.background{
    border-top: 2px solid rgb(100, 29, 29);
    border-bottom: 2px solid rgb(100, 29, 29);
    background-image: url(https://omnisinal.pt/files/23/2377.jpg);
}

.servicos2{
    background-color: rgb(81, 81, 207);
    border-radius: 5%;
    height: 205px;
    text-align: center;
}


